/*
 * Sensor data portal
 * Author: Pim van Gennip (pim@iconize.nl)
 *
 */
var LANG 					= [];
var API_URL           		= (document.URL.indexOf('dev') === -1) ? 'http://app.iconize.nl/api/' : 'http://app.dev/api/';
var CONNECTION_FREQ_REMOTE  = ((10)*1000);