<header class="view-header">
	<!--ng-include src="'views/forms/settings-tab-menu.html'"></ng-include-->
	<h1>{{lang.settings}}</h1>
</header>

<div ng-iscroll="settings-form-wrapper" class="view-content" ng-class="{loading : isLoading}">	
	<div id="settings-form-wrapper" class="iscroll-wrapper">
	    <form id="settings-form" class="form controller-form settings" name="settingsForm" ng-submit="saveSettings($event)">
		
	    	<menu class="btn-group save-settings">
	    		<button type="submit" class="btn btn-primary save" ng-class="{'disabled':!changed}">{{lang.save}}</button>
	    	</menu>

			<div class="row">
				<div class="controller-settings-wrapper">
					<ul>
						<!--li>
							<label>
								<span class="label">{{lang.connection}}</span>
								<switch class="manual" name="manual-switch" on="{{lang.automatic}}" off="{{lang.manually}}" ng-model="isAutomatic"></switch>
							</label>
						</li-->

						<!--li>
							<label>
								<span class="label">{{lang.controller_id}}</span>
								<input type="text" ng-model="controller_id" placeholder="{{lang.controller_id}}" name="controller_id" />
								<span class="ping-status led {{controller.status}}" ng-class="{'loading': isChecking}">{{controller.status}}</span>
							</label>
						</li-->

						<li class="category">
							<h2>Gewichtsensor</h2>
						</li>
						<li>
							<label>
								<span class="label">Gewicht van de sensoren op 0 zetten</span>
								<a class="btn" ng-click="offsetWeight()">Stel nu het nulpunt in</a>
							</label>
						</li>
						

						<li>
							<label>
								<span class="label">Wat is je eigen gewicht in kg?</span>
								<input type="text" ng-model="calibrate_weight" placeholder="{{lang.weight}}" name="weight_kg" />
							</label>
						</li>

						<li>
							<label>
								<span class="label">{{calibrate_msg ? calibrate_msg : 'Gewichtsensoren calibreren op gewicht'}}</span>
								<a class="btn" ng-click="calibrateWeight()">Er staat nu {{calibrate_weight > 0 ? calibrate_weight + ' kg' : 'niets'}} op de weegschaal</a>
							</label>
						</li>

						<li><hr></li>

						<li>
							<label>
								<span class="label">Log in als een andere gebruiker</span>
								<a ng-click="logout()" class="btn logout">Uitloggen</a>
							</label>
						</li>

					</ul>

				</div>

				

			</div>

		</form>
	</div>
</div>